html, body {
    height: 90%;
}

#body {
    width: 100%;
    height: 100%;
}

#phone {
    font-family: "Helvetica Neue", Helvetica, Arial;   
    -webkit-font-smoothing: antialiased;
    color: #E4E5E8;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    height: 550px;
    width: 320px;
    border: 5px solid black;
}

.bar {
    height: 15px;
    background-color: black;
}

.header {
    letter-spacing: 2px;
    background-color: #301E19;
    height: 28px;
    width: 250px;
    text-align: center;
    width: 100%;
    font-size: 20px;
}

#contentBody {
    width: 310px;
    height: 455px;
    padding: 5px;
    background-color: #57362E;
    margin-left: auto;
    margin-right: auto
}

#helper {
    text-align: center;
    width: 200px;
    height: 240px;
    background-color: #301E19;
    color: #E4E5E8;
    border-radius: 10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 85px;
}

#helperText {
    margin: 10px 0 25px 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

large {
    font-size: 16pt;
    font-weight: bold;
}

button {
    color: #E4E5E8;
    cursor: pointer;
    background-color: #3E885B;
    border: none;
    height: 25px;
    width: 100px;
    font-weight: bold;
}

#homeContent {
    width: auto;
    font-family: "Helvetica Neue", Helvetica, Arial;   
    -webkit-font-smoothing: antialiased;
    color: #E4E5E8;
}

#nav {
    width: 100%;
    border-spacing: 10px;
    display: table;
    table-layout: fixed;
    margin: 0 0 10px 0;
}

.navButton {
    display: table-cell;
    border-radius: 10px;
    background-color: #301E19;
    height: 70px;
    border: 10px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: .5s;
}

.navButton:hover {
    background-color: #3E885B;
}

img {
    width: 50%;
}

#schedule {
    width: 290px;
    height: 334px;
    padding-top: 5px;
    margin: 0 auto 0 auto;
}

#scheduleHeader {
    font-size: 16pt;
    text-align: center;
    margin: 0 auto 5px auto;
    width: 66%;
    border-bottom: solid;
    border-width: 2px;
}