#homeContent {
	width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial;   
    -webkit-font-smoothing: antialiased;
    color: #E4E5E8;
}

#nav {
    width: 100%;
    border-spacing: 10px;
    display: table;
    table-layout: fixed;
    margin: 0 0 10px 0;
}

.navButton {
    display: table-cell;
    border-radius: 10px;
	background-color: #301E19;
	height: 70px;
	border: 10px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	transition: .5s;
}

.navButton:hover {
    background-color: #3E885B;
}

img {
	width: 50%;
}

#schedule {
	width: 100%;
	height: 334px;
	background-color: #301E19;
    border-radius: 10px;
    padding-top: 5px;
}

#scheduleHeader {
    font-size: 16pt;
    text-align: center;
    margin: 0 auto 0 auto;
    width: 66%;
    border-bottom: solid;
    border-width: 2px;
}