html, body {
    height: 100%;
}

#body {
    width: 100%;
    height: 100%;
}

#phone {
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    height: 550px;
    width: 320px;
    border: 5px solid black;
}

.bar {
    height: 15px;
    background-color: black;
}

.header {
    font-family: "Helvetica Neue", Helvetica, Arial;
    background-color: #301E19;
    color: #E4E5E8;
    height: 28px;
    width: 250px;
    text-align: center;
    width: 100%;
    font-size: 20px;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased;
}

#contentBody {
    width: 310px;
    height: 455px;
    padding: 5px;
    background-color: #57362E;
    margin-left: auto;
    margin-right: auto
}

input[type="time"] {
  height: 28px;
  width: 100px;
  color: black 0666;
  border-radius: 3px;
  border: 1px solid transparent;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
  position: relative;
  left: 85px;
}


a {
    color: inherit;
    text-decoration: inherit;
}
