body {
}

.body {
    text-align: center;
    width: 100%;
}

.nameHeader {
    -webkit-font-smoothing: antialiased;
    font-family: "Helvetica Neue", Helvetica, Times New Roman;
}

#links {
    -webkit-font-smoothing: antialiased;
    font-family: "Helvetica Neue", Helvetica, Times New Roman;
}

#info {
    -webkit-font-smoothing: antialiased;
    font-family: "Helvetica Neue", Helvetica, Times New Roman;
}

#logo {
}