#body {
    width: 100%;
}

#header {
    width: 100%;
    -webkit-font-smoothing: antialiased;
    font-family: "Helvetica Neue", Helvetica, Times New Roman;
    text-align: center;
    display: table;
    margin: -1% 0 2% 0;
}

.head {
    display: table-cell;
    border-bottom: 2px solid black;
    width: 33%;
}

#links {
    width: 98%;
    height: 90%;
    -webkit-font-smoothing: antialiased;
    font-family: "Helvetica Neue", Helvetica, Times New Roman;
    text-align: center;
    display: table;
    margin: 1% 1%;
}

.linkHead {
    display: table-cell;
    width: 10%;
}

h3 {
    font-size: 1.5vw;
    padding: 2% 0 2% 0;
    border: 2px solid black;
}

h4 {
    font-size: 1.75vw;
    
}

h2 {
    font-size: 2vw;
}